.article-view {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 90vw;
  background-color: #FFFCE8;
  border-radius: 10px;
}

.article-content {
  height: 65vh;
  width: 88vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jumbo-img {
  height: 30vh;
  border-radius: 10px;
}

.article-copy-section {
  width: 53vw;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #697A21;
}

.article-copy {
  margin: 10px 0px 10px 0px;
  overflow-y: scroll;
}

.section-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #697A21;
  margin-right: 15px;
}

.link {
  font-size: 1.5rem;
  font-weight: 800;
  color: #DD403A;
}


@media screen and (max-width: 800px) {
  .article-detail {
    height: 80vh;
  }

  .article-content {
    flex-direction: column;
  }

  .jumbo-img {
    height: 22vh;
    margin-bottom: 4vh;
  }

  .article-copy-section {
    width: 85vw;
  }
}