.news-results {
  background-color: #697A21;
  min-height: 76vh;
  height: fit-content;
  width: 95vw;
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  padding: 10px;
  font-weight: 800;
  font-size: 1.5rem;
  color: #B8B42D;
}