.article-tile {
  background-color: #fffce8;
  height: 12vh;
  width: 87vw;
  max-width: 756px;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tile-img {
  height: 10vh;
  border-radius: 5px;
  margin-left: 10px;
}

.tile-title {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0px 5px 0px 5px;
}

.tile-category {
  width: 11vw;
  min-width: fit-content;
  font-weight: 800;
  font-size: 1.5rem;
  color: #697a21;
  margin-right: 15px;
}

.navlink {
  text-decoration: none;
  color: #373737;
  width: 60vw;
}

@media screen and (max-width: 600px) {
  .article-tile {
    height: 16vh;
  }

  .tile-img {
    height: 8vh;
  }

  .tile-category {
    font-size: 0.9rem;
  }

  .tile-title {
    font-size: 0.9rem;
  }
}
