*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;;
}

main {
  background-color: #373737;
  text-align: center;
  height: fit-content;
  width: 100vw;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #B8B42D;
  padding: 1rem;
}