.navbar {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-divider {
  background-color: #b8b42d;
  border: none;
  height: 4px;
  width: 100vw;
}

.home-link {
  text-decoration: none;
  width: fit-content;
}
